/* portrait tablets, portrait  landscape */
@media (max-width: 760px) {
  .desktop-navigation,
  .hide-small {
    display: none !important;
  }
  .mobile-navigation {
    position: absolute;
    right: 14px;
    z-index: 99;
  }
  .logo {
    width: 60px;
    height: auto;
  }

  .ico-img {
    position: absolute;
    right: 25px;
    top: 100px;
    width: 650px px;
  }
  .pd-intro h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    color: white;
    margin-bottom: 40px;
  }
  .hero {
    height: 134vh;
  }
  .pd-intro {
    position: absolute;
    width: 100% !important;
    top: 220px px;
    z-index: 20;
  }
  .btn {
    font-size: 12px;
  }
  .hero-tick {
    position: absolute;
    width: 163px;
    bottom: -6px;
    left: 0;
  }
  button.large {
    padding: 16px 29px;
    margin-right: 14px;
    z-index: 99;
  }
  .df {
    display: block;
  }
  .df img {
    margin: 25px auto;
    display: block;
  }
  .spotify {
    width: 150px;
  }
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 48px;
    color: white;
  }
  .latest-container {
    width: 100%;
  }
  .podcast-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 15px;
  }
  .medias {
    width: 100%;
  }
  .sm-thumbnail {
    max-width: 50%;
  }
  .sm-thumbnail > a img {
    margin: 6px;
    width: 100%;
  }
  .col-md-5 .podcast-title {
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .subscribe {
    border-radius: 20px;
    padding: 10px;
  }
  .subscribe-msg {
    color: white;
    text-align: center;
  }
  .sm-thumbnail > img {
    margin: 6px;
    width: 100%;
  }
  .footer-logo img {
    width: 150px;
  }
  .hero-contentP {
    width: 100%;
  }
  .heroP {
    background-position: center;
    background-size: cover;
    top: -74px;
    height: 120vh;
  }
  .custom-position {
    position: relative;
    top: -200px;
  }
  .featured-high {
    padding: 5px;
  }
  .scroll-h {
    display: flex;
    flex-direction: row;
    overflow-x: overlay;
    overflow-y: hidden;
    padding: 5px;
  }
  button.tags {
    min-width: 110px;
  }
  .pod-content {
    margin: 10px 0;
  }
  .play-ico {
    display: block !important;
    position: absolute;
  }
  .innerPodcast {
    max-width: 93%;
  }
  .behind-img {
    position: absolute;
    z-index: 1;
    top: 114px;
    left: 7px;
  }
  .thumbnail {
    z-index: 9;
    position: relative;
  }
  .innerContent {
    text-align: justify;
    padding: 40px 10px;
  }
  .heading {
    font-size: 20px;
    color: #424040;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .heroPD {
    background-position: inherit;
    background-size: cover;
    top: -59px;
    height: 156vh;
  }
  .hero-tick2 {
    width: 100px;
    position: absolute;
    left: 163px;
    top: 101px;
  }
  .p0 {
    padding: 4px !important;
  }
  .mobile-p10 {
    padding: 10px !important;
  }
  .bottom-banner {
    background-size: cover;
    background-position: center;
  }
  .form-container form input {
    margin: 0;
  }
  .form-content {
    padding: 10px;
  }
  .form-container form textarea {
    margin: 0;
  }
  .heroB {
    background-size: cover;
    background-position: center;
  }
  .buttom-banner {
    background-size: cover;
    background-position: center;
  }
  .pop .col-sm-6 {
    padding: 10px;
    width: 50%;
  }
  .modal-body h2 {
    font-size: 25px;
    padding-top: 20px;
  }
  .close-modal {
    position: absolute;
    right: 16px;
    color: white;
    background: black;
    border: none;
  }
  .ahero-tick {
    position: absolute;
    width: 196px;
    left: 0px;
    bottom: -14px;
  }
  .ahero-tick2 {
    width: 98px;
    position: absolute;
    left: 159px;
    bottom: 74px;
  }
  .previewThumbnail {
    width: 100%;
    padding: 10px;
  }
  /* .heroP {
    display: none;
  }
  .custom-position {
    position: relative;
    top: 0px;
  }
  .featured-high {
    background-color: #07080f !important;
    padding: 0;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/wiftz-podcasts.appspot.com/o/bg.png?alt=media&token=361ef195-bb96-479b-819f-9750d056bea9");
  }
 
   */
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
  .mobile-navigation,
  .hide-large {
    display: none !important;
  }
  .desktop-navigation {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  .x-4 {
    width: 31.333333%;
  }
  .hero-tick2 {
    width: 202px;
    position: absolute;
    left: 0;
    bottom: -4px;
  }
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
  .hero {
    height: 100vh;
  }
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
  .hero {
    height: 100vh;
  }
}
